footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container2 .sec {
  margin-right: 30px;
}

footer .container2 .sec.aboutus {
  width: 40%;
}

footer .container2 h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: Barlow Semi Condensed;
}

footer .container2 h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #b1de00;
}

footer p {
  color: #999;
  font-family: Open Sans;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  color: black;
}

.sci li a:hover {
  background: #b1de00;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: Open Sans;
}

.quickLinks ul li:hover {
  color: #fff;
  cursor: pointer;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
  color: #b1de00;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
  font-family: Open Sans;
}

.contact .info li a {
  color: #999;
  text-decoration: none;
}

.contact .info li a:hover {
  color: #fff;
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

.copyrightText a {
  color: #999;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .container2 {
    flex-direction: column;
  }

  footer .container2 .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .container2 .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  .copyrightText {
    padding: 8px 40px;
  }
}
