/* This is the landing page css */
/* Start of navbar of landing page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #000000;
}

#main {
  padding-top: 60px;
}

.navbar {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: black;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 10;
  border-bottom: 5px solid #468902;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
  font-family: Amatic SC;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 25px;
  font-family: Amatic SC;
}
.toggle {
  display: none;
}
.active a,
.menu li a:hover {
  background-color: #292929;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}

.menu.responsive li {
  float: none;
  display: block;
  text-align: left;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.sub-menu {
  display: none;
  background-color: #fff;
  transition: all 0.3s;
}
.sub-menu li {
  margin: 2%;
  white-space: nowrap;
}
.menu li:last-of-type:hover .sub-menu {
  display: block;
  position: fixed;
  top: 5%;
  right: 0%;
}
/* End of navbar styling for landing page */

/* Start of main slider of tutor images for landing page */
.slider {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
  position: relative;
}

/* .slides:before{
  content: '';
  position: abso
} */

.slide-text {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 1%;
  border-radius: 20px;
  top: 50%;
  max-width: 40vw;
  font-size: 40px;
  color: #b1de00;
  font-family: Barlow Semi Condensed;
}

.slide img {
  object-position: 10% 35%;
}

/* .slide img: {
  background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5));
} */

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* css for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn:not(:last-child) {
  margin-left: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 9%;
}

.navigation-auto div {
  border: 2px solid #133954;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #133954;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #133954;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #133954;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #133954;
}

/* End of main slider of tutor images for landing page */

/* Start for contact  button on landing page */
.button {
  width: 247px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  margin-top: 45px;
}

.button-1 {
  background-color: transparent;
  border: 3px solid #b1de00;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #b1de00;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 #b1de00 inset, 0 0 20px 2px #b1de00;
  border: 3px solid #b1de00;
}
/* End for contact button on landing page */

@media screen and (max-width: 780px) {
  .toggle {
    display: block;
    color: white;
  }
  .menu {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: -100%;
    left: 0;
    transition: top 0.3s;
    align-items: stretch;
  }
  .menu.active {
    top: 0;
  }
  .menu li,
  .menu li a {
    width: 100%;
    display: block;
  }
}

.quick-link {
  padding: 2%;
  position: relative;
  z-index: 4;
  color: #999;
  text-decoration: none;
}

.container3 {
  text-align: center;
}
.btn3 {
  border: 1px solid #b1de00;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1 {
  color: #000000;
  display: block;
}

.btn1:hover {
  color: #b1de00;
}

.btn3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #000000;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
  height: 180%;
}

@media (max-width: 672px) {
  .navigation-auto {
    display: none;
  }

  .slide-text {
    padding: 0%;
  }
}
